In [24]:
import numpy as np
import pandas as pd
import nbodysystem as nbs
import pointmass
import matplotlib.pyplot as plt

In [48]:
a = np.array([1, 2, 9])
b = np.array([3, 5, 4])
c = np.array([6, 7, 8])

In [60]:
index = pd.timedelta_range(start='0', end='1s', freq='500ms')

df = pd.DataFrame({"A": a,
                 "B": b,
                  "C": c}, index=index)
df

                 A  B  C
00:00:00         1  3  6
00:00:00.500000  2  5  7
00:00:01         9  4  8

In [61]:
df["A"]['500ms']

2

In [63]:
df2 = pd.DataFrame({"A": a,
                   "B": b,
                   "C": c})
df2

   A  B  C
0  1  3  6
1  2  5  7
2  9  4  8

9

In [27]:
ab = np.array([a, b, a, a, b])

In [28]:
ab.transpose()

array([[1, 3, 1, 1, 3],
       [2, 5, 2, 2, 5]])

In [50]:
pd.Timedelta('500ms')

Timedelta('0 days 00:00:00.500000')

In [52]:
pd.timedelta_range(start='0s', end='1s', freq='500ms')

TimedeltaIndex(['00:00:00', '00:00:00.500000', '00:00:01'], dtype='timedelta64[ns]', freq='500L')